[run]
patch = ["subprocess"]
relative_files = true

[report]
include = ["yuio/**/*.py"]
omit = [
    "yuio/_version.py",
    "yuio/_typing.py",
    "yuio/_typing_ext.py",
    "yuio/_dist/**/*.py",
    "test/**/*.py",
]
exclude_also = [
    "def __repr__",
    "def __rich_repr__",
    "if yuio._debug:",
    "raise NotImplementedError",
    "if __name__ == .__main__.:",
    "if (|_t\\.|typing\\.)TYPE_CHECKING:",
    "@(abc\\.)?abstractmethod",
    "except ImportError:",
    "assert False",
]

[html]
title = "Yuio Coverage Report"
