repos:
  - repo: local
    hooks:
      - id: black
        name: black
        language: system
        entry: black
        types_or: [python, pyi]
        require_serial: true
      - id: isort
        name: isort
        language: system
        entry: isort --filter-files
        types_or: [python, pyi]
        require_serial: true
      - id: check-preamble
        name: check that python files start with license comment
        language: system
        entry: scripts/check_file_headers
        types: [python]
        files: 'yuio/.*'
        exclude: '^(yuio/_vendor/.*|yuio/_version.py)'
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: "^test/test_regression/.*|sphinx_syntax/ext/syntax/gen/.*$"
      - id: end-of-file-fixer
        exclude: "^test/test_regression/.*|sphinx_syntax/ext/syntax/gen/.*$"
      - id: fix-byte-order-marker
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-added-large-files
      - id: check-yaml
      - id: check-toml
      - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-executables-have-shebangs
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: check-vcs-permalinks
