[executor]
type = "uv"
no-group = ["dev", "test-extra"]

[tasks.update_dist]
help = "Update vendored distributions"
cmd = "./scripts/update_dist"
use_exec = true
executor = { group = "ci" }

[tasks.lint]
help = "Run pre-commit linters"
cmd = "prek run --all-files"
executor = { group = "lint" }

[tasks.test]
help = "Run tests"
cmd = "tox -e 3.14 --"

[tasks.test-all]
help = "Run tests for all pythons"
cmd = "tox p --"

[tasks.test-extra]
help = "Run tests for all pythons, including slow tests"
cmd = "tox p -- -m ''"

[tasks.cov-clear]
help = "Erase coverage data (use this if you stop tests mid-flight)"
cmd = "coverage erase"
executor = { group = "test" }

[tasks._cov-html]
cmd = "coverage html -d htmlcov"
executor = { group = "test" }

[tasks._cov-html-serve]
cmd = "python -m http.server -b localhost 8081"
cwd = "htmlcov"

[tasks.test-cov]
help = "Run tests with coverage and serve HTML report on localhost:8081"
sequence = ["test", "_cov-html", "_cov-html-serve"]

[tasks.test-cov-all]
help = "Run tests for all pythons with coverage and serve HTML report on localhost:8081"
sequence = ["test-all", "_cov-html", "_cov-html-serve"]

[tasks.test-cov-extra]
help = "Run tests for all pythons with coverage, including slow tests, and serve HTML report on localhost:8081"
sequence = ["test-extra", "_cov-html", "_cov-html-serve"]

[tasks.doc]
help = "Build HTML docs"
cmd = "sphinx-build -b html docs/source docs/build/html -d docs/build/doctrees -j 12 -n"
executor = { group = "doc" }

[tasks.doc-watch]
help = "Start documentation server and rebuild HTML docs on every change"
cmd = "sphinx-autobuild docs/source docs/build/html -d docs/build/doctrees --watch . -j 12 -n"
executor = { group = "doc" }
